doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	include variables
	include includes/head
	body
		header
			include includes/header_top
			include includes/main_menu
		include includes/slider
		include includes/section_home_01
		include includes/section_home_02
		include includes/section_home_03
		include includes/section_home_04
		include includes/section_home_05
		include includes/footer
		script(src="assets/templates/ioweb/js/main.js")