.head_top {
	.btn {
		.cuprumbold();/*
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;*/
	}
	.site-slogan {
		.heuristica();
		color: black;
		font-size: 18px;
		padding-top: 10px;
		img {
			max-width: 175px
		}
		span {
			display: none !important;
		}
	}
	.callback {
		text-align: center;
		@media(min-width: 992px) {
			text-align: right;
		}
	}
	.btn_wrapper {
		padding-top: 10px;
		text-align: center;
		@media(min-width: 992px) {
			padding-top: 20px;
		}
		.btn {
			margin-bottom: 10px;
		}
	}
}