include ../variables
footer.container-fluid.footer
	.row
		.container.footer_wrapper
			.row
				.col-md-5.col-sm-6.item
					h5 О сайте
					.footer_about
						p Сайт Старшего Лидера компании AVON 
							br
							span Елены Муравьевой.
						p Телефон для связи: 
							a.callback(href="tel:+7-903-952-90-41") +7-903-952-90-41
				.col-md-5.col-sm-6.item
					h5 Ссылки
					.footer_link
						ul
							li
								a(href="javascript:;") Как стать представителем AVON?
							li
								a(href="javascript:;") Регистрация в AVON
				.col-md-2.col-sm-12.item
					h5 &nbsp;
					.footer_social
						ul
							li
								a.icon-vk(href="javascript:;" data-trigger="social" data-social="vk")
							li
								a.icon-instagram(href="javascript:;" data-trigger="social" data-social="instagram")
							li
								a.icon-twitter(href="javascript:;" data-trigger="social" data-social="twitter")