.container.head_top
	.row
		.col-md-3
			p.text-center.text-uppercase.site-slogan
				БИЗНЕС ВМЕСТЕ С
				img.img-responsive.center-block(src="/assets/template/ioweb/images/avon-logo.svg" alt="AVON")
				span AVON
		.col-md-3.col-md-push-6.callback
			|Свяжитесь с нами:
			br
			a.callback-href(href="tel:+79376445464") +7(937)644-54-64
			br
			a.callback-mail(href="mailto:info@avonbusines.world.ru") info@avonbusines.world.ru
		.col-md-6.col-md-pull-3.text-center
			.row.btn_wrapper
				.col-md-6
					a.btn.btn-avon(href="javascript:;")
						|Регистрация представителей
				.col-md-6
					a.btn.btn-avon(href="javascript:;")
						|Инфо для представителей