div.navbar.navbar-avon(role="navigation")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		nav#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#") Ссылка
				li
					a(href="#") Ссылка
				li
					a(href="#") Ссылка
				li
					a(href="#") Ссылка