section.container.section_home
	.row.section_home_02
		.container
			h2.text-center.text-uppercase.title Почему 
				span AVON 
				|?
			.row
				.col-md-4.col-sm-6.col-xs-12.item
					.wrapper
						span.text-center.icon-raketa
						h5.title_description
							|Быстрый старт
						p.description
							em Бесплатная регистрация, стартовый набор образцов нашей продукции.
				.col-md-4.col-sm-6.col-xs-12.item
					.wrapper
						span.text-center.icon-clock
						h5.title_description
							|Удобный график
						p.description
							em Вы самостоятельно планируете свой день, выделяя необходимое время.
				.col-md-4.col-sm-6.col-xs-12.item
					.wrapper
						span.text-center.icon-display
						h5.title_description
							|В ногу со временем
						p.description
							em Компания AVON предоставляет возможность открыть свой собственный интернет магазин.
				.col-md-4.col-sm-6.col-xs-12.item
					.wrapper
						span.text-center.icon-cubok
						h5.title_description
							|Призы и скидки
						p.description
							em Получи скидку 31% на всю продукцию AVON, а также подарок с первым заказом.
				.col-md-4.col-sm-6.col-xs-12.item
					.wrapper
						span.text-center.icon-checkdoc
						h5.title_description
							|Новинки каталогов
						p.description
							em Обновление каталогов раз в три недели. Постоянно растущий ассортимент продукции.
				.col-md-4.col-sm-6.col-xs-12.item
					.wrapper
						span.text-center.icon-checkdoc
						h5.title_description
							|Стабильность и рост
						p.description
							em Гибкая карьерная лестница. Стань Координатором и получи бонус 125 000 рублей.