include ../variables
section.container.section_home
	.row.section_home_03
		.container
			h2.text-center.text-uppercase.title
				span AVON 
				| - Быстро, выгодно, удобно!
			.button_wrapper.text-center
				a.btn.btn-avon.btn-lg(href="javascript:;") Заполнить анкету