section.container.section_home
	.row.section_home_01
		.container
			h2.text-center.text-uppercase.title
				span AVON 
				| - это просто
			ul.list
				li Быстрая регистрация Представителей
				li Необходимая информация для Представителей
				li Свежие новости и каталоги
				li Работа в компании AVON