.container-fluid.slider
	.row
		.slider-wrapper
			#slider
				.item
					.item-wrapper
						.text
							.text-wrapper
								h3.title
									|Собственное дело
									span вместе с
										span &nbsp;AVON
								.description
									|Окунитесь в мир AVON, став представителем компании. Добейтесь признания, успеха и высокого достатка.
									br
									|Мы в свою очередь окажем всестороннюю поддержку в вашем стремлении к новым вершинам!
						.overlay
						img(src="assets/template/ioweb/images/bg_slider_header.png" alt="" data-lazy="assets/template/ioweb/images/slider_001.png")
				.item
					.item-wrapper
						.text
							.text-wrapper
								h3.title
									|Собственное дело
									span вместе с
										span &nbsp;AVON
								.description
									|Окунитесь в мир AVON, став представителем компании. Добейтесь признания, успеха и высокого достатка.
									br
									|Мы в свою очередь окажем всестороннюю поддержку в вашем стремлении к новым вершинам!
						.overlay
						img(src="assets/template/ioweb/images/bg_slider_header.png" alt="" data-lazy="assets/template/ioweb/images/slider_002.png")
				.item
					.item-wrapper
						.text
							.text-wrapper
								h3.title
									|Собственное дело
									span вместе с
										span &nbsp;AVON
								.description
									|Окунитесь в мир AVON, став представителем компании. Добейтесь признания, успеха и высокого достатка.
									br
									|Мы в свою очередь окажем всестороннюю поддержку в вашем стремлении к новым вершинам!
						.overlay
						img(src="assets/template/ioweb/images/bg_slider_header.png" alt="" data-lazy="assets/template/ioweb/images/slider_001.png")
				.item
					.item-wrapper
						.text
							.text-wrapper
								h3.title
									|Собственное дело
									span вместе с
										span &nbsp;AVON
								.description
									|Окунитесь в мир AVON, став представителем компании. Добейтесь признания, успеха и высокого достатка.
									br
									|Мы в свою очередь окажем всестороннюю поддержку в вашем стремлении к новым вершинам!
						.overlay
						img(src="assets/template/ioweb/images/bg_slider_header.png" alt="" data-lazy="assets/template/ioweb/images/slider_002.png")
		